#email {
  padding: 50px;
  margin-top: 50px;
  border: 2px solid black;
  width: 500px;
  box-sizing:border-box;
}

#confidential, #top-secret {
  display: inline-block;
  padding:20px;
  margin-left: 20px;
  border: 2px solid black;
  transform: rotate(30deg);
}

.blurred {
  filter: blur(3px);
}

