body {
  background-color:#f4f4f4;
}
.color-box {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  margin:5px;
}
.color1 {
  background-color:#123456;
}

.color2 {
  background-color:rgb(57,101,157);
}

.color3 {
  background-color:cornflowerblue;
}

.color4 {
  background-color:hsl(187,100%,39%);
}

.color5 {
  background-color:cyan;
}
